<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Submit the Form</title>
</head>
<body>
  <header><h1>Please enter your details : </h1></header>
  <main>
    <form action="/host/contact-us" method="POST">
      <input type= "name"  name= "name" placeholder= "Enter your name : " />
      <input type= "email" name ="email" placeholder= "Enter your email : " />
      <input type="Submit" />
    </form>
  </main>
</body>
</html>